@import "reset";
@import "mixins";
@import "variables";

html {
   font-size: 62.5%;
   font-family: sans-serif;
}

body {
   height: 100vh;
   @include flexHandler(center, center);

   .container {
      @include flexHandler(center, center);
      flex-direction: column;
      background-color: $body-bg-color;
      border-radius: 5px;
      font-size: 20px;
      padding: 20px;

      .row-line {
         display: flex;

         .result-viewer {
            width: 26vw;
            height: 70px;
            font-size: 3rem;
            background-color: $result-viewer-bg-color;
            margin-bottom: 20px;
            padding: 10px 15px;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            @include flexHandler(center, center);
         }

         .clear-btn{
            height: 70px;
            padding: 0 10px;
            border-left: 1px solid #111;
            border-radius: 0 5px 5px 0;
            color: $body-bg-color;
            cursor: pointer;
            background-color: $result-viewer-bg-color;
            @include flexHandler(center,center);
         }

         .button-calc {
            @include flexHandler(center, center);
            font-size: 2.4rem;
            height: 70px;
            width: 70px;
            margin: 7px;
            border-radius: 50%;
            cursor: pointer;
            color: $button-font-color;
            background: linear-gradient(145deg, #1f1d1d, #242222);
            box-shadow: 8px 8px 16px #141313, -8px -8px 16px #302d2d;

            &:active {
               background-color: $button-hover-bg-color;
               box-shadow: none;
            }
         }
      }
   }
}
