@import "reset";
@import "mixins";
@import "variables";

html {
   font-size: 62.5%;
   font-family: sans-serif;
}

body {
   height: 100vh;
   @include centerItems;

   .container {
      @include centerItems;
      flex-direction: column;
      background-color: $body-bg-color;
      border-radius: 5px;
      font-size: 20px;
      padding: 20px;

      .row-line {
         display: flex;

         .result-viewer {
            width: 26vw;
            font-size: 3rem;
            background-color: aliceblue;
            margin-bottom: 20px;
            padding: 10px 15px;
            border-radius: 5px;
            text-align: center;
         }

         .button-calc {
            @include centerItems;
            font-size: 2.4rem;
            height: 70px;
            width: 70px;
            margin: 7px;
            border-radius: 50%;
            cursor: pointer;
            color: $button-font-color;
            background: linear-gradient(145deg, #1f1d1d, #242222);
            box-shadow: 8px 8px 16px #141313, -8px -8px 16px #302d2d;

            &:active {
               background-color: $button-hover-bg-color;
               box-shadow: none;
            }
         }
      }
   }
}
